.dino {
    position: absolute;
    width: 90px;
    height: 90px;
    background-image: url(t-rex.png);
    bottom: 0px;
}

.obstacle {
position: absolute;
width: 60px;
height: 60px;
background-image: url(cactus.png);
bottom: 0px;

}


  
  #desert {
    position: absolute;
    bottom: 0px;
    background-image: url('desert.jpg');
    background-repeat: repeat-x;
    animation: slideright 600s infinite linear;
    -webkit-animation: slideright 600s infinite linear;
    width: 100%;
    height: 400px;
  }